 <h1>Inspirate, crea tu nuevo blog</h1>

 <form action="/create" method="post">
    <p> Introduce el titulo de tu post </p>
    <input type="text" name="title">
    <br>
    <p> Escribe tu post </p>
    <textarea name="body" rows="50" cols="70" ></textarea>
     <br>
     <p>  Introduce tus tags </p>
     <input type="text" name="tags">
     <br>
     <br>
    <input type="submit" value="Submit post">
  </form>  