  <h1>Bienvenido a nuestro Blog Anonimo</h1>
  <p>¿Que quieres hacer?</p>

   <div class="menu">
    <a href="/create"> Crear un post </a>
       </br>
    <a href="/show"> Mostrar posts </a>  
       </br>
    <a href="/update"> Editar un post </a>
       </br>
    <a href="/delete"> Borrar un post </a> 
  </div> 


  
  
