<h2>Encuentra el post que estas buscando</h2>
</br>
<p>Introduce el titulo del post que deseas</p>
</br>
<form action="/find" method="post">
<input type="text" name="post_title">
<input type="submit" value="Find post">
<p>O tal vez deseas buscvar por tag</p>
</br>
<input type="text" name="post_tags">
<input type="submit" value="Find post">
</form>