<h1><%= @show_post.title %></h1>
<br>
<p><%= @show_post.body %></p>
<br>
 <div class="menu_post">
    <a href="/update/<%=@show_post.id %>"> Editar post</a>
       </br>
    <a href="/delete/<%=@show_post.id %>"> Borrar post</a>  
     </br>
    <a href="/show"> Regresar </a>
  </div> 